@font-face {
    font-family: 'headingnow-88heavyitalic';
    src: url(../fonts/HeadingNow-88HeavyItalic.ttf);
}
@font-face {
    font-family: 'headingnow-74regular';
    src: url(../fonts/HeadingNow-74Regular.ttf);
}
@font-face {
    font-family: 'headingnow-88heavy';
    src: url(../fonts/HeadingNow-88Heavy.ttf);
}

body{
    background-color: rgb(255, 153, 0);
}
p{
    margin: 0px;
}

#homebarText{
    color: white;
    font-family: 'headingnow-88heavyitalic';
}

#homebar{
    background-color: black;
    color: white;
    padding: 15px;
    font-family: 'headingnow-88heavy';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#titulo{
    padding-top: 60px;
    font-family: 'headingnow-88heavyitalic';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    text-align: center;
    margin: 0px auto;
    word-wrap: break-word;
    width: 700px;
}
#tituloenquete{
    font-family: 'headingnow-88heavy';
    font-size: 20px;
    text-align: center;
    opacity: 75%;
}
#enquete{
    font-family: 'headingnow-74regular';
    font-size: 15px;
    text-align: center;
}
#cliqueaqui{
    font-family: 'headingnow-88heavyitalic';
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    width: 710px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
    #cliqueaqui:hover{
    color: yellow;
}
#imagemabobora{
    display: block;
    margin: 0 auto;
    border: white;
    border-radius: 20px;
    margin-top: -18px;
}
#descriçãoimagem{
    font-family: 'headingnow-74regular';
    font-size: px;
    text-align: center;
    margin-top: -25px;
}
#direitosreservados{
    background-color: black;
    color: white;
    font-family: 'headingnow-74regular';
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 600px){
    #titulo{
        font-size: 30px;
        line-height: 30px;
        margin-top: 50px;
        width: 50%;
    }
    #cliqueaqui{
        width: 50%;
    }
    #imagemabobora{
        width: 50%;
    }
    #descriçãoimagem{
        width: 50%;
        margin: auto;
    }
    #direitosreservados{
        width: 50%;
        margin: auto;
    }
    
}