@font-face {
    font-family: 'headingnow-88heavyitalic';
    src: url(../fonts/HeadingNow-88HeavyItalic.ttf);
}
@font-face {
    font-family: 'headingnow-74regular';
    src: url(../fonts/HeadingNow-74Regular.ttf);
}
@font-face {
    font-family: 'headingnow-88heavy';
    src: url(../fonts/HeadingNow-88Heavy.ttf);
}
body{
    background-color: rgb(255, 153, 0);
}
#tituloIndex{
    font-family: 'headingnow-88heavyitalic';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    text-align: center;
    margin: 0px auto;
    word-wrap: break-word;
    width: 700px;
}
#nomeUsuario{
    font-family: 'headingnow-74regular';
    font-size: 20px;
    color: #000000;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 710px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
#indexProximo{
    font-family: 'headingnow-88heavyitalic';
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    width: 710px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
    #indexproximo:hover{
    color: yellow;
}

@media screen and (max-width: 600px){
    #tituloIndex{
        font-size: 30px;
        line-height: 30px;
        margin-top: 50px;
        width: 50%;
    }
    #nomeUsuario{
        width: 50%;
    }
    #indexProximo{
        width: 50%;
    }
    
}